@import '../../../scss/00_imports';

:host-context(.c-welcome) {
  position: relative;
  display: block;
  width: 100%;
}

.form-control {
  position: relative;
  display: flex;
  align-items: center;
  font-size: $subtitle;

  label {
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    margin-left: $spacing--xl;
    font-size: inherit;
  }
  input[type='text'] {
    position: relative;
    min-height: 68px;
    width: 100%;
    padding: 0 $spacing--xl;
    border-radius: 8px;
    border: 0;
    font-size: inherit;
    // &:focus,
    // &:active {
    //   outline: none;
    // }
  }
}
