<c-header></c-header>
<c-hero></c-hero>
<main>
  <section class="details">
    <h2 class="headline">CSS & HSL Magic</h2>
    <p>
      Using <strong>CSS variables</strong> and HSL, we can create an adaptive colour scheme that responds to user
      preference. We can easily define all the colours for light, dark and dim colour schemes by calculating the
      saturation and lightness of one brand colour.
    </p>
    <p>
      This demo of an adaptive colour scheme for Angular was created based on Adam Argyle's article:
      <a href="https://web.dev/building-a-color-scheme/" target="_blank">Building a color scheme</a>
    </p>
    <div class="surfaces">
      <div class="surface surface-{{ i + 1 }}" *ngFor="let surface of surfaces; index as i">{{ surface }}</div>
    </div>
    <div class="brand-swatches">
      <div class="surface swatch-{{ i + 1 }}" *ngFor="let swatch of brandColors; index as i">{{ swatch }}</div>
    </div>
    <div class="text-swatches">
      <div class="text-swatch text-{{ i + 1 }}" *ngFor="let text of textColors; index as i">{{ text }}</div>
    </div>
    <div class="semantic-swatches">
      <div class="semantic-swatch semantic-{{ i + 1 }}" *ngFor="let semantic of semanticColors; index as i">
        {{ semantic }}
      </div>
    </div>
  </section>
</main>
<ng-template bottomPaneHost></ng-template>
