<c-header></c-header>
<c-hero></c-hero>
<main>
  <section class="details">
    <h2 class="headline">CSS & HSL Magic</h2>
    <p>
      Using <strong>CSS variables</strong> and <strong>HSL</strong>, we can create an adaptive colour scheme that
      responds to a users preference. We can easily define all the colours for light, dark, and even a dim colour scheme
      by dynamically controling the saturation and lightness of the brand colour through CSS variables.
    </p>
    <p>
      This demo of an adaptive colour scheme built for <a href="https://angular.io/" target="_blank">Angular</a> was
      created based on Adam Argyle's article:
      <a href="https://web.dev/building-a-color-scheme/" target="_blank">Building a color scheme</a>. You can fine tune
      this color scheme by playing with the hue in the settings and see it adapt to various theme preferences.
    </p>
    <div class="surfaces">
      <div class="surface surface-{{ i + 1 }}" *ngFor="let surface of surfaces; index as i">{{ surface }}</div>
    </div>
    <div class="brand-swatches">
      <div class="surface swatch-{{ i + 1 }}" *ngFor="let swatch of brandColors; index as i">{{ swatch }}</div>
    </div>
    <div class="text-swatches">
      <div class="text-swatch text-{{ i + 1 }}" *ngFor="let text of textColors; index as i">{{ text }}</div>
    </div>
    <div class="semantic-swatches">
      <div class="semantic-swatch semantic-{{ i + 1 }}" *ngFor="let semantic of semanticColors; index as i">
        {{ semantic }}
      </div>
    </div>
    <div class="elevation">
      <div class="elevate-{{ i + 1 }} platform-{{ i + 1 }}" *ngFor="let elevate of elevations; index as i">
        {{ elevate }}
      </div>
    </div>
  </section>
</main>
<ng-template bottomPaneHost></ng-template>
