@import '../scss/00_imports';

:host(.c-root) {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  max-width: $max-width;
  @include container-padding;
  margin-top: $layout--md;
  padding-bottom: $layout--lg !important;
}

.details {
  position: relative;
  width: 100%;
  margin-bottom: $layout--2xl;
}

.color-scheme-content {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: auto;
  margin-top: $layout--lg;
  @include breakpoint(md) {
    margin-top: $layout--xl;
  }
}

.surfaces {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: end;
  border-top: 1px solid currentColor;
  border-bottom: 4px solid currentColor;
  margin-top: $layout--md;
  @include breakpoint(sm) {
    margin-top: $layout--lg;
    grid-template-columns: repeat(6, 1fr);
  }
}

.brand-swatches {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid currentColor;
  margin-top: $layout--sm;
  @include breakpoint(sm) {
    margin-top: $layout--md;
    grid-template-columns: repeat(4, 1fr);
  }

  & ~ .brand-swatches {
    margin-top: 0;
  }
}

.text-swatches {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid currentColor;
  justify-items: end;
  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.semantic-swatches {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid currentColor;
  border-bottom: 4px solid currentColor;
}

.surface,
.text-swatch,
.semantic-swatch {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  font-size: $overline;

  &:nth-child(2) {
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    @include breakpoint(sm) {
      border: none;
    }
  }

  &:nth-child(5) {
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    @include breakpoint(sm) {
      border: none;
    }
  }

  &:nth-child(n + 4) {
    border-top: 1px solid currentColor;
    @include breakpoint(sm) {
      border-top: 0;
    }
  }
  &:nth-child(n + 2) {
    @include breakpoint(sm) {
      border-left: 1px solid currentColor;
    }
  }
}

.surface {
  height: 48px;
  padding: $spacing--sm;
  span {
    color: var(--text1);
  }
  @include breakpoint(sm) {
    height: 60px;
  }
}

.text-swatch {
  height: 32px;
  padding: $spacing--sm;
  @include breakpoint(sm) {
    height: 48px;
  }
}

.semantic-swatch {
  height: 24px;
  padding: 0 $spacing--sm;
  @include breakpoint(sm) {
    height: 32px;
  }
}

.palettes {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: auto;
  display: grid;
  margin-top: $layout--lg;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $spacing--lg;
  align-items: center;
  justify-items: center;
  justify-content: stretch;
  @include breakpoint(sm) {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }

  p {
    margin: 0;
    font-weight: 500;
  }
}

.palette {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swatch {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: $spacing--xs;
  margin: $spacing--sm;
}

.elevation {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $spacing--xl;
  margin-top: $layout--lg;
  @include breakpoint(sm) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.elevate {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: $overline;
  height: 88px;
  padding: 0 $spacing--sm;
  @include breakpoint(sm) {
    height: 88px;
  }
}

.platform-1,
.platform-2,
.platform-3,
.platform-4 {
  border-color: currentColor;
}

.platform-1 {
  background-color: var(--surface1);
  border: 2px solid;
}

.platform-2 {
  background-color: var(--surface2);
  border: 4px solid;
}

.platform-3 {
  background-color: var(--surface3);
  border: 8px solid;
}

.platform-4 {
  background-color: var(--surface4);
  border: 16px solid;
}

.surface-1 {
  background-color: var(--surface1);
}

.surface-2 {
  background-color: var(--surface2);
}

.surface-3 {
  background-color: var(--surface3);
}

.surface-4 {
  background-color: var(--surface4);
}

.surface-5 {
  background-color: var(--surface5);
}

.surface-6 {
  background-color: var(--surface6);
}

.swatch-1 {
  background-color: var(--brand);
  @include breakpoint(sm) {
    grid-column: 1 / span 2;
  }
}

.swatch-2 {
  background-color: var(--accent1);
}

.swatch-3 {
  background-color: var(--accent2);
}

.text-1 {
  color: var(--textLight);
  background-color: var(--text1);
  // grid-column:  2 / span 1;
  // @include breakpoint(sm) {
  //   grid-column: 1 / span 1;
  // }
}

.text-2 {
  color: var(--surface1);
  background-color: var(--text2);
  // grid-column: 3 / span 1;
  // @include breakpoint(sm) {
  //   grid-column: 3 / span 1;
  // }
}

.semantic-1 {
  background-color: var(--success);
}

.semantic-2 {
  background-color: var(--warning);
}

.semantic-3 {
  background-color: var(--danger);
}
