<main>
  <section>
    <div class="surfaces">
      <div class="surface-1">Surface 1</div>
      <div class="surface-2">Surface 2</div>
      <div class="surface-3">Surface 3</div>
      <div class="surface-4">Surface 4</div>
    </div>
  </section>
  <section>
    <div class="palettes">
      <p class="palette"><span class="swatch-1"></span> brand</p>
      <p class="palette"><span class="swatch-2"></span> text-1</p>
      <p class="palette"><span class="swatch-3"></span> text-2</p>
    </div>
    <div class="palettes__description">
      <p class="text-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <p class="text-2">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </section>
</main>
