@import '../../../scss/00_imports';

:host-context(.c-overlay) {
  position: fixed;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  outline: none;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    @include frosted-glass(var(--glass1), 0.125);
    will-change: opacity;
    opacity: 0;
    transition: opacity 275ms ease;
  }
}

// Animate state
:host-context(.c-overlay--animate) .c-overlay-window {
  visibility: visible;
  transition: all 325ms 25ms ease;
}

// Opened state
:host-context(.c-overlay--visible) {
  pointer-events: auto;
  .c-overlay-window {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

:host-context(.c-overlay--visible):host-context(.c-overlay) {
  &::before {
    opacity: 1;
  }
}

.c-overlay-window {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 7;
  width: 100%;
  height: auto;
  max-width: 968px;
  min-height: 50%;
  max-height: 80%;
  color: currentColor;
  overflow: hidden;
  opacity: 0;
  transform: translateY(25%);
  visibility: hidden;

  &__content {
    position: relative;
    width: 100%;
    flex-grow: 1;
    padding: $spacing--lg $spacing--lg;
    overflow-x: hidden;
    overflow-y: auto;
    @include breakpoint(md) {
      padding: $spacing--xl $spacing--xl;
    }
    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: currentColor;
      border: 2px solid transparent;
    }
  }
}
