/* You can add global styles to this file, and also import other style files */
// Systems
@import './scss/02_mixins';
@import './scss/03_normailize';
@import './scss/04_resets';
@import './scss/05_variables';
@import './scss/06_typography';
@import './scss/07_base';
// Color variables
* {
  // Brand HSL
  --brand-hue: 183;
  --brand-saturation: 100%;
  --brand-lightness: 90%;
  // Accent1 HSL
  --accent1-hue: calc(var(--brand-hue) - 20);
  --accent1-saturation: 91%;
  --accent1-lightness: 39%;
  // Shadows
  --elevate400: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
  --elevate500: var(--brand-hue) 50% 3%;
  // Shadows
  --shadow-strength-light: 0.02;
  --shadow-strength-dark: 0.8;
}

:root {
  --background: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --background-a: var(--brand-hue) var(--brand-saturation) var(--brand-lightness);
  --border: hsl(var(--brand-hue) var(--brand-saturation) 98%);
  --surface-shadow: var(--elevate400);
  --shadow-strength: var(--shadow-strength-light);
}
