/* You can add global styles to this file, and also import other style files */
// Systems
@import './scss/01_functions';
@import './scss/02_mixins';
@import './scss/03_normailize';
@import './scss/04_resets';
@import './scss/05_variables';
@import './scss/06_typography';
@import './scss/07_base';
// Utilities
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.no-scroll {
  overflow: hidden;
}
// Colors
* {
  // Brand HSL
  --brand-hue: 75;
  --brand-saturation: 27%;
  --brand-lightness: 35%;
  // Accent1 HSL
  --accent1-hue: var(--brand-hue);
  --accent1-saturation: 95%;
  --accent1-lightness: 60%;
  // Accent2 HSL
  --accent2-hue: calc(var(--brand-hue) + 120);
  --accent2-saturation: 55%;
  --accent2-lightness: 40%;
  // Success
  --success-hue: 129;
  --success-saturation: 85%;
  --success-lightness: 46%;
  // Warning
  --warning-hue: 53;
  --warning-saturation: 94%;
  --warning-lightness: 48%;
  // Danger
  --danger-hue: 360;
  --danger-saturation: 80%;
  --danger-lightness: 64%;

  // Light
  // Rebuild with variables
  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --accent1-light: hsl(var(--accent1-hue) var(--accent1-saturation) var(--accent1-lightness));

  --accent2-light: hsl(var(--accent2-hue) var(--accent2-saturation) var(--accent2-lightness));
  // Semantic colors
  --success-light: hsl(var(--success-hue) var(--success-saturation) var(--success-lightness));
  --warning-light: hsl(var(--warning-hue) var(--warning-saturation) var(--warning-lightness));
  --danger-light: hsl(var(--danger-hue) var(--danger-saturation) var(--danger-lightness));
  // Text
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 20% 20%);
  // Surfaces
  --surface1-light: hsl(var(--brand-hue) 10% 95%);
  --surface2-light: hsl(var(--brand-hue) 15% 94%);
  --surface3-light: hsl(var(--brand-hue) 20% 93%);
  --surface4-light: hsl(var(--brand-hue) 25% 92%);
  --surface5-light: hsl(var(--brand-hue) 30% 91%);
  --surface6-light: hsl(var(--brand-hue) 35% 90%);
  // Shadows
  --surface-shadow-light: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
  --shadow-strength-light: 0.02;

  // Dark
  // brand
  --brand-dark: hsl(var(--brand-hue) var(--brand-saturation) 40%);
  --accent1-dark: hsl(var(--accent1-hue) var(--accent1-saturation) 40%);
  --accent2-dark: hsl(var(--accent2-hue) var(--accent2-saturation) 60%);
  // Semantic colors
  --success-dark: hsl(var(--success-hue) var(--success-saturation) 70%);
  --warning-dark: hsl(var(--warning-hue) var(--warning-saturation) 60%);
  --danger-dark: hsl(var(--danger-hue) var(--danger-saturation) 70%);
  // Text
  --text1-dark: hsl(var(--brand-hue) 10% 90%);
  --text2-dark: hsl(var(--brand-hue) 20% 80%);
  // Surfaces
  --surface1-dark: hsl(var(--brand-hue) 5% 8%);
  --surface2-dark: hsl(var(--brand-hue) 5% 9%);
  --surface3-dark: hsl(var(--brand-hue) 5% 10%);
  --surface4-dark: hsl(var(--brand-hue) 5% 11%);
  --surface5-dark: hsl(var(--brand-hue) 5% 12%);
  --surface6-dark: hsl(var(--brand-hue) 5% 13%);
  // Shadows
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;

  // Dim
  --brand-dim: hsl(var(--brand-hue) 20% 40%);
  --accent1-dim: hsl(var(--accent1-hue) 40% 50%);
  --accent2-dim: hsl(var(--accent2-hue) 30% 50%);
  // Semantic colors
  --success-dim: hsl(var(--success-hue) 40% 50%);
  --warning-dim: hsl(var(--warning-hue) 40% 60%);
  --danger-dim: hsl(var(--danger-hue) 40% 60%);
  // Text
  --text1-dim: hsl(var(--brand-hue) 10% 70%);
  --text2-dim: hsl(var(--brand-hue) 10% 60%);
  --surface1-dim: hsl(var(--brand-hue) 5% 20%);
  --surface2-dim: hsl(var(--brand-hue) 5% 21%);
  --surface3-dim: hsl(var(--brand-hue) 5% 22%);
  --surface4-dim: hsl(var(--brand-hue) 6% 23%);
  --surface5-dim: hsl(var(--brand-hue) 6% 24%);
  --surface6-dim: hsl(var(--brand-hue) 6% 25%);

  --surface-shadow-dim: var(--brand-hue) 30% 13%;
  --shadow-strength-dim: 0.2;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --success: var(--success-light);
  --warning: var(--warning-light);
  --danger: var(--danger-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface6: var(--surface6-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --success: var(--success-dark);
    --warning: var(--warning-dark);
    --danger: var(--danger-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface5: var(--surface5-dark);
    --surface6: var(--surface6-dark);
    // Shadows
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

// Demo setting
[color-scheme='light'] {
  color-scheme: light;

  --brand: var(--brand-light);
  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --success: var(--success-light);
  --warning: var(--warning-light);
  --danger: var(--danger-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface6: var(--surface6-light);
  // Shadows
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme='dark'] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --accent1: var(--accent1-dark);
  --accent2: var(--accent2-dark);
  --success: var(--success-dark);
  --warning: var(--warning-dark);
  --danger: var(--danger-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface5: var(--surface5-dark);
  --surface6: var(--surface6-dark);
  // Shadows
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme='dim'] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --accent1: var(--accent1-dim);
  --accent2: var(--accent2-dim);
  --success: var(--success-dim);
  --warning: var(--warning-dim);
  --danger: var(--danger-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface5: var(--surface5-dim);
  --surface6: var(--surface6-dim);
  // Shadows
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

html {
  color: var(--text1);
  background-color: var(--surface1);
}

.elevate-1 {
  @include elevate-1();
}

.elevate-2 {
  @include elevate-2();
}

.elevate-3 {
  @include elevate-3();
}

.elevate-4 {
  @include elevate-4();
}
