/* Typography styles */
p {
  font-size: $body--2;
  @include breakpoint(md) {
    font-size: $body--1;
  }
  strong {
    color: color('volt');
  }
}

p ~ p {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

h1,
h2,
h3,
h4,
form legend {
  line-height: $heading-line-height;
  font-weight: inherit;
  margin: $spacing--xl 0 $spacing--sm;
}
