// html document setup
/* Base styles */
//css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: currentColor;
}

* {
  &,
  &:after,
  &:before {
    box-sizing: inherit;
  }
  -webkit-tap-highlight-color: rbga(0, 0 0, 0);
}

body {
  font-family: $base-font-family;
  line-height: $body-line-height;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // removes bounce in scrolling
  overscroll-behavior: none;
  background-color: hsl(var(--background));
}

/// Images
img {
  // Making images responsive by default
  width: 100%;
  font-style: italic;
  vertical-align: middle;
}
// if height or width specified then no longer responsive image
img[height],
img[width] {
  width: auto;
}

// Utilities
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.no-scroll {
  overflow: hidden;
}

.elevate-1 {
  @include elevate-1();
}

.elevate-2 {
  @include elevate-2();
}

.elevate-3 {
  @include elevate-3();
}

.elevate-4 {
  @include elevate-4();
}
